*.gem
*.sublime-project
*.sublime-workspace
.bundle
.DS_Store
.jekyll-metadata
.sass-cache
_asset_bundler_cache
_site
codekit-config.json
example/_site
Gemfile.lock
node_modules
npm-debug.log*
.sync/*

.me_configs.data

.z_sync_configs.data

sync_changes.log

sync_hook.script

**/.Archive
